@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');

$primary-font: 'Plus Jakarta Sans';
$primary-color: #1D82AA;
$color-primary: #DC4541;
